.place__title {
    margin: 0;
    grid-area: title;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #FFFFFF;
    grid-template-rows: 9.5em;
    max-width: 460px;
    place-items: start / end;
}