.header{
    max-width: 1184px;
    margin: 28px auto 53px auto;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 1024px){
    .header{
        max-width: 928px;
        width: 100%;
    }
    
}