.header{
    max-width: 1184px;
    margin: 0 auto; 
    padding-top: 28px;
    padding-bottom: 53px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #2A2C2F;
    min-height: 52px;
}

@media screen and (max-width: 1024px){
    .header{
        max-width: 928px;
        min-height: 52px;
        
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 768px){
    .header{
        max-width: 720px;
        min-height: 52px;
        padding-bottom: 48px;
    }  
}

@media screen and (max-width: 320px){
    .header{
        max-width: 288px;
        min-height: 42px;
        padding-bottom: 48px
    }
}