.cover {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1180px;
    width: 100%;
}

@media screen and (max-width: 1024px){
    .cover{
        min-height: 200px;
    }
}

@media screen and (max-width: 768px){
    .cover{
        min-height: 480px;
    }  
}

@media screen and (max-width: 320px){
    .cover{
        min-height: 200px;
    }
}