.cover {
   margin: 0 auto;
}

@media screen and (max-width: 1024px){
    .cover{
        max-width: 320px;
        width: 100%;
        min-height: 200px;
    }
}

@media screen and (max-width: 768px){
    .cover{
        max-width: 720px;
        width: 100%;
        min-height: 52px;
        padding-left: 24px;
        padding-right: 24px;
    }  
}

@media screen and (max-width: 320px){
    .cover{
        max-width: 320px;
        width: 100%;
        min-height: 200px;
    }
}