.cover__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    max-width: 560px;
    margin: 0 auto;
    padding-top: 245px;
    padding-bottom: 32px;
    position: relative;
    text-decoration: none;
}
@media screen and (max-width: 1024px){
    .cover__title{
        max-width: 560px;
        padding-top: 195px;
    }
}

@media screen and (max-width: 768px){
    .cover__title{
        max-width: 560px;
        padding-top: 115px;
    }
}

@media screen and (max-width: 767px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        padding-top: 115px;
        padding-bottom: 16px;
        max-width: 288px;
    }
}
@media screen and (max-width: 320px) {
    .cover__title{
        padding-bottom: 16px;
        padding-top: 32px;
    }
}