.footer__list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 18px;
    padding-left: 0px;
    list-style: none;
    margin: 0;
    max-width: 86px;
}

@media screen and (max-width: 767px){
    .footer__list{
        grid-template-columns:0;
        grid-template-rows: repeat(5,1fr);
        row-gap: 32px;
        column-gap: 0px;
    }
}


@media screen and (max-width: 320px){
    .footer__list{
        grid-template-rows: repeat(5,1fr);
        row-gap: 32px;
        column-gap: 0px;
    }
}