.place__url-heading{
    place-items: start / end;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 8px;
    color: #AAAAAA;
}

@media screen and (max-width: 768px){
    .place__url-heading{
        padding-bottom: 12px;
    }
}
