.place__website{
    grid-area: url-link;
    grid-template-rows: 9.5em;
    max-width: 460px;
    align-self: flex-end;
    color: white;
    
}

@media screen and (max-width: 768px){
    .place__website{
        max-width: 352px;
    }
}

@media screen and (max-width: 320px){
    .place__website{
        max-width: 288px;
        margin: 0 16px;
    }
}
